# Application configuration
APP_NAME=go-microservice-template
APP_PORT=8080
APP_ENV=development

# Postgres database configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DBNAME=microservice
POSTGRES_SSLMODE=disable

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
